<section class="benefits-wrapper">
  <h2 class="benefits-title">¿Por qué pasarte a Premium?</h2>
  <div class="benefits">
    <article class="benefit">
      <img class="benefit-img" src="@@benefit-img" alt="Descarga música" />
      <div class="info">
        <h3 class="benefit-title">@@benefit-title</h3>
        <p class="benefit-description"></p>
      </div>
    </article>
    <article class="benefit">
      <img class="benefit-img" src="@@benefit-img" alt="Sin anuncios" />
      <div class="info">
        <h3 class="benefit-title">@@benefit-title</h3>
        <p class="benefit-description">@@benefit-description</p>
      </div>
    </article>
    <article class="benefit">
      <img
        class="benefit-img"
        src="@@benefit-img"
        alt="Escucha lo que quieras"
      />
      <div class="info">
        <h3 class="benefit-title">@@benefit-title</h3>
        <p class="benefit-description">@@benefit-description</p>
      </div>
    </article>
    <article class="benefit">
      <img
        class="benefit-img"
        src="@@benefit-img"
        alt="Salta todas las canciones que quieras"
      />
      <div class="info">
        <h3 class="benefit-title">@@benefit-title</h3>
        <p class="benefit-description">@@benefit-description</p>
      </div>
    </article>
  </div>
</section>
